// REFACTOR: OVERRIDES FOR RANGE SLIDER
@import '~react-rangeslider/lib/index.css'
.rangeslider-horizontal
  .rangeslider
    &__fill
      background: $color-highlight
      transition: width 0.3s ease

    &__handle
      transition: left 0.3s ease

      &:focus
        outline: none

      &:after
        display: none


.ui
  &__text-align
    &--center
      text-align: center
    &--left
      text-align: left
    &--right
      text-align: right