@charset 'UTF-8'
@import '~flexboxgrid-sass'

body
  background: #FFFFFF
  color: #1A1A1A
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight: 300

.container
  width: 100%

.primary
  color: $color-primary

.secondary
  color: $color-secondary

.highlight
  color: $color-highlight