@charset 'UTF-8'
@import '~flexboxgrid-sass'
$flexboxgrid-outer-margin: 1rem;

body
  background: $color-bg-primary
  color: $color-primary
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight: 300

p
  margin: 0

.container
  width: 100%

.primary
  color: $color-primary

.secondary
  color: $color-secondary

.highlight
  color: $color-highlight