@charset 'UTF-8'

body
  background: #FFFFFF
  color: #1A1A1A
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight: 300

.primary
  color: #1A1A1A

.secondary
  color: #A6A6A6