.CarBlock
  background: #f6f6f6
  border-radius: 5px
  cursor: pointer
  margin-bottom: 1rem
  padding: 1rem
  position: relative
  width: 100%
  transition: box-shadow 0.3s ease

  &:hover,
  &:active,
  &:focus
    box-shadow: 0 13px 19px -2.5px rgba(0, 0, 0, 0.3)
    transition: box-shadow 0.3s ease

.CarImage
  display: block
  width: 100%

.TextEmphasize
  font-size: 25px

.TextPrimary
  font-size: 14px
  line-height: 22px

.TextSecondary
  font-size: 10px
  line-height: 16px
